@import "tailwindcss";

@theme {
  --color-black-google: #121317;
  --color-gray-google: #45474d;
  --font-google-sans: "Google Sans", "Product Sans", sans-serif;

  --animate-fade-up: fade-up 1s ease-out forwards;
  --animate-float: float 3s ease-in-out infinite;
  --animate-scroll-left: scroll-left 30s linear infinite;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}